parameters:
    level: 8
    paths:
        - src/
    excludePaths:
        - tests/
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Method .+\\SchedulerTransportFactoryProviderPlugin::getTransportFactories\(\) return type with generic interface Symfony\\Component\\Messenger\\Transport\\TransportFactoryInterface does not specify its types: TTransport#'
        - '#Method .+\\SymfonySchedulerCommunicationFactory::createSchedulerTransportFactory\(\) return type with generic interface Symfony\\Component\\Messenger\\Transport\\TransportFactoryInterface does not specify its types: TTransport#'


